/* src/App.css */
.App {
  
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 120px;
  background-color: #57a5ea;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 8px; /* Add padding around each navigation item */
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin-left: 10px; /* Add some space between icon and text */
}

/* Customize the icon size */
.sidebar i {
  font-size: 18px;
}
.content{
  flex: 1;
  background-color: #cfd5d9;
}
