/* Card.css */
/* .red-circle {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 25%;
} */


/* Card.css */
.card {
  position: relative;
  /* Add a higher zIndex value to the card container to ensure it appears below the button */
  z-index: 1;
}

.red-circle-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  border: none;
  cursor: pointer;
  outline: none;
  /* Increase the zIndex value for the button to make it appear above the card */
  z-index: 2;
  /* Add any additional styles you want for the button */
}